{
  "presets": [ "react", "es2015", "stage-0"],
  "plugins": [["transform-assets", {
                "extensions": ["svg"],
                "name": "[name].[ext]?[sha512:hash:base64:7]",
              }]]
}
