<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width">
     <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
       window.jQuery = window.$ = jQuery;

       $(document).ready(function() {
           console.log( "jQuery is loaded" );
       });
    </script>

  </head>
  <body>
    <div id="app-container">{{{ reactMarkup }}}</div>
    <script src="/js/bundle.js"></script>
    <script>
      function initMap() {
        var uluru = {lat: 42.302, lng: -71.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPcKZbwtbKl4wXvau_hWmO5FMQrZaQsLk&callback=initMap">
    </script>
  </body>
</html>
