body {
  background-color: #eceff1;
  color: #000;
  font-family: 'Open Sans',sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 100%!important;
}
.container button {
  text-transform: uppercase;
}

footer .copyright{
  background: rgba(25,40,73,.95);
  color:#fff;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0;
}
footer .footer-bar {
  color: #203476;
  font-weight: 300;
  background-color: #f4f4f4;
  padding-top: 1rem;
}

body p {
  font-weight: 300;
}

/*Footer Component*/
.footer-bar .social-icon  {
  height: 32px;
  width: 32px;
  background-position: 100% 40%;
  display: inline-block;
  padding: 2rem;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
  margin-top: .5rem;
}

.footer-bar .google_plus {
  background-image: url("~/../img/icons/googleplus.png");
}
.footer-bar .twitter {
  background-image: url("~/../img/icons/twitter.png");
}

.footer-bar .linkedin {
  background-image: url("~/../img/icons/linkedin.png");
}

.footer-bar .github {
  background-image: url("~/../img/icons/github.png");
}

.footer-bar {
  text-align: center
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.porfolio-link {
  color:#fff;
}
.nav {
  /*background: rgba(20,0,0,0.85);*/
  padding: 1rem 0;
  background: rgba(17, 96, 137,.95);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5), 0px 0px 3px rgba(0,0,0,0.1), 0px 0px 0px rgba(0,0,0,0.1);
}
.nav .nav-item, .nav .nav-item > a {
  display: inline-block;
  text-transform: uppercase;;
  font-size: 1.5rem;
  color: #fff;
}
.nav .nav-item:first-child {
  margin-left: 5rem;
}
.nav .nav-item.last{
  float: right;
  margin-right: 5rem;
}
.nav .nav-item.login a{
  border-radius: 10px;
  margin: 0.5rem;
  padding: 5px 15px;
  /* vertical-align: bottom; */
  display: block;
  vertical-align: bottom;
  background: rgb(11,179,110);
  border: 1px solid orange;
}
.nav .nav-item.-contact {
  cursor: pointer;
}
.nav .nav-item {
  border-bottom: 2px solid rgba(17, 96, 137,.65);
}
.nav .nav-item.active{
  /*background:rgba(255,69,0,0.75);*/
  border-bottom: 2px solid orange;
}
.nav .nav-item.active a {
  background-color: rgba(17,40,73,.75);
  font-weight: 300;
}
.nav .nav-item>li>a:focus, .nav .nav-item>li>a:hover {
  background:rgba(25,40,73,.50);
}
.nav .nav-item:hover > a {
  background:rgba(25,40,73,.50);
  color: #fff;
}

.home-jumbotron {
  position: relative;
  z-index: 0;
}
.porfolio-image {
  height: 340px;
  width: 100%;
  background-position: -218px 25%;
  background-size: 100%;
  background-image: url("~/../img/vladi_puertorico.jpg");
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}
.porfolio-jumbotron-container {
  height: 290px;
  width: 100%;
  padding-top:4rem;
  position: relative;
  z-index: 5;
  color: #fff;
  background-repeat: no-repeat;
}
.porfolio-jumbotron-text {
  width: 45%;
  margin: 0 auto;
  height: 105px;
  /*background-color:rgba(0, 0, 0, 0.6);*/
}
.porfolio-jumbotron-pos {
  font-size: 30px;
  font-weight: 300;
  text-align: left;
  line-height: 60px;
  color: rgba(255, 255, 250,.7);
  text-align: center;
  line-height: 1rem;
  /*text-shadow: 0px 3px 0px #000,
  0px 14px 10px rgba(0,0,0,0.15),
  0px 24px 2px rgba(0,0,0,0.1),
  0px 34px 30px rgba(0,0,0,0.1);*/
}
.porfolio-jumbotron-name .last_name {
  color: rgba(255, 255, 250,.75);
}

.porfolio-jumbotron-name{
  font-size: 70px;
  font-weight: 300;
  display: block;
  color: #fff;
  letter-spacing: -2px;
  text-align: center;
  font-weight: 500;
  font-variant: small-caps;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8), 2px 2px 2px rgba(0,0,0,0.1), 2px 2px 2px rgba(0,0,0,0.1);


}
.porfolio-buttons {
  margin-top: 40px;
}
.porfolio-jumbotron-buttons {
  text-align: center;
}
.porfolio-jumbotron-buttons .button {
  /*background-color: rgba(255,69,0,0.75);*/
  margin: 2rem;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 4rem;
  font-size: 1.6rem;
  /*border: 0;*/
  border: 1px solid #fff;
  color: #fff;
    background: #42a5f5;
    background: -moz-linear-gradient(top,#42a5f5 0,#2196f3 100%);
    background: -webkit-linear-gradient(top,#42a5f5 0,#2196f3 100%);
    background: linear-gradient(to bottom,#42a5f5 0,#2196f3 100%);
}
.porfolio-jumbotron-buttons .button:hover {
  background-color: rgba(17,40,73,.75);
  color:#fff;
}
.porfolio-jumbotron-intro {
    background: rgba(11,179,110,.1);
    height: 70px;
    /* width: 95%; */
    margin-top: 0px;
    text-align: center;
    margin: 0 auto;

}
.overlay {
  z-index: 2;
  height: 340px;
  background: rgba(17, 96, 137,.85);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.porfolio-services-title, .porfolio-about-title, .porfolio-title{
  text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: rgb(11,179,110);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4.5rem;
    border-bottom: 1px solid orange;
    padding-bottom: 2rem;
    margin: 2rem 20rem;
    font-weight: 800;
    display: inline-block;

}
.porfolio-sub-title {
  color: #203476;
  display: block;
  width: 45%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1rem;
  /*margin-bottom: 2rem;*/
  font-size: 16px;
}
.porfolio-services-col-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.porfolio-services-col-title span {
    color: #444444;
    font-weight: 800;
    font-size: 25px;
}
.front-end-icon {
  background-image: url("~/../img/icons/tools-icons.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

  background-size: 11rem;
padding: 5.5rem;
margin-bottom: 2rem;
}
.back-end-icon {
  background-image: url("~/../img/icons/database-cloud-icon.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

  background-size: 11rem;
padding: 5.5rem;
margin-bottom: 2rem;
}

.web-end-icon {
  background-image: url("~/../img/icons/monitor-icon.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;

  background-size: 11rem;
padding: 5.5rem;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
margin-bottom: 2rem;
}
.col-main-background {
  margin-left: 1rem;
  margin-right: 1rem;
  padding:1rem;

}

.col-main-background.about ul li {
  text-align: left;
}
.col-main-background.services {
  background: #fff;
  margin-bottom: 2rem;
}
.porfolio-services-description{
  padding: 1rem;
}
.porfolio-services-description button {
      background-color: #3c66dc;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}
 .porfolio-about-text, .porfolio-section-text {
      text-align: center;
    /* color: #fff; */
    opacity: .95;
    /*background: rgba(20,100,150,0.65);
    background: #fff;*/
    /* box-shadow: 4px 1px 5px rgba(0,0,0,0.2), 0px 0px 1px rgba(0,0,0,0.1), 2px 18px 25px rgba(0,0,0,0.1); */
    margin-top: 0px;
    padding: 1rem;
    font-size: 16px;
    /* border: 1px solid rgba(0, 0, 45, 0.15); */
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    line-height: 2;
}
.porfolio-services-section  .row , .porfolio-section .row{
  text-align: center;
  padding: 2rem 0 2rem 0;
}
.porfolio-services-section .col-main-background button {
  width: 100%;
  margin-top: 4rem;
}
p.porfolio-section-text {
  margin-right: 1.4rem;
  margin-left: 1.4rem;
  cursor: pointer;
}
div.porfolio-porfolio-description:hover  .porfolio-site-image-navigation--content {
  height: 72%;
  padding: 20px 15px;
}
p.porfolio-about-text {
  
}
.col-main-background button {
  background-color: #3c66dc;
  color: #fff;
  height: 5rem;
}
..col-main-background button:hover {
  background: #337ab7;
}
.porfolio-section {
    background: rgba(20,0,0,0.1);
  
}
.porfolio-section.contact {
  background: #fff;
}
/*About PAGE*/
.porfolio-section.about , .porfolio-section.porfolio{
  background-color: rgba(17, 96, 137,.1);
}
.porfolio-about-image-cont{
  display: block;
  float: left;
  line-height: 3rem;
}
.porfolio-about-image{
  background: url("~/../img/vlad.png") no-repeat 100% 0%;
    width: 95px;
    height: 105px;
    display: inline-block;
    border-radius: 60%;
    background-size: 90px;
    z-index:100; 
  position: relative;
  border: 3px solid #fff;

}
.porfolio-about-description {
  margin-top: 0rem;
}
.col-main-background.about {
  margin: 0;
  
}
.about-content {
  background-color: rgba(17, 96, 137,.0);
}
.skills-content {
  background: #42a5f5;
  background: rgb(17, 96, 137);
  color: #fff;
}
.stats-content {
  background: rgba(11,179,110,.75);
  color: #fff;
  font-weight: 800;
  font-size: 25px;
  padding:2rem 0;
}

/*PORFOLIO SITE PAGE*/
.porfolio-site-image{
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
  width: 350px;
}
.porfolio-site-image img{
  width: 350px;
  height: 238px;
  display: inline-block;
  background-position: 0% 50%;
  background-size: 420px;
  background-repeat: no-repeat;
  border: 10px solid #fff;
  box-shadow: 4px 1px 5px rgba(0,0,0,0.2), 0px 0px 1px rgba(0,0,0,0.1), 2px 18px 25px rgba(0,0,0,0.1);
}

.porfolio-contact-form {
  text-align: left;
}
.porfolio-contact-form textarea{
      height: 175px;
}
.porfolio-contact-form button {
  background-color: #3c66dc;
  color: #fff;
  padding: 8px 15px;
  font-size: 16px;
}
#map {
  width: 40%;
  height: 300px;
}
.porfolio-site-image-overflow {
  width: 80%;
}
.porfolio-site-image-navigation--content {
  background-color: rgba(0,0,0,0.8);
  /*background-color: transparent;*/
  color: #cacaca;
  height: 0%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 20px;
  transition: all .25s ease-in-out;
  width:72%;
  z-index: 2;
  zoom: 1;
  margin-left: auto;
  margin-right: auto;
}
